/*-----------------------------------Layout HEADER-----------------------------*/
html,
body {
	min-width: 1440px;
	min-height: 2476px;

}
.visually-hidden {
	display: none;
}
/*-------------------------------ЦЕНТРОВЩИКИ-----------------------------*/
.header-container {
	width: 1160px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	padding-bottom: 30px;
}
.slider {
	width: 1160px;
	margin: 0 auto;
	padding: 0;
}
.section-container {
	width: 1160px;
	margin: 0 auto;
	padding: 0;
}

/*-------------------------------Layout HEADER---------------------*/
.logo {
	min-width: 160px; 
	min-height: 70px;
	
}
.navigation {
	display: flex;
	align-items: baseline;
	justify-content: center;
	width: 870px;
}

.navigation-item a {
	display: block;
}

.navigation-list  {  
  margin: 0;
	padding: 0;

	width: 420px;	

	display: flex;
	align-items: baseline;
	justify-content: space-around;
}
.cart {
	margin: 0;
	padding: 0;
  width: 120px;
}
/*----------------------------Layout MAIN INDEX--------------------------*/
.slider-wrapper {
	background-color: #eeeeee;
}

.slide-1 {
   width: 400px;
   flex-direction: column;
   padding-bottom: 80px;
}

.our-services {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.services-item {
	width: 300px;
}
.about-us {
	display: flex;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 80px;
}
.about-us p {
	margin: 0;
}
.introduction {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 384px;
}
.services-list {
	margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 114px;
  justify-content: space-between;
}

.efficiency {
	min-width: 380px;
	display: flex;
  flex-direction: column;
  min-height: 380px;
  justify-content: space-between;
  align-items: center;
}
.partners {
	margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  min-height: 280px;
  justify-content: space-between;
}

/*-----------------------------------GENERAL-----------------------------*/
body {
	margin: 0;
	padding: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400; 
	color: #000000;
	
	background-color: #ffffff;
}
a {
	text-decoration: none;
	color: #000000;
}
fieldset {
	border: none;
}
.subtitle legend {
	font-family: Roboto bold, Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.subtitle {
	text-transform: uppercase;
}

.indicator,
.our-services,
.services-list,
.partners,
.social-media-list,
.price-range,
.grid-list,
.features-list,
.sorter-list,
.catalogue-list,
.pagination {
	list-style: none;
}

/*---------------------------------HEADER & NAV----------------------------*/
.main-header {
	font-size: 16px;
	line-height: 30px;
	font-weight: 400; 
	text-transform: uppercase;

	background-color: #eeeeee;
}
.navigation-list {
	list-style: none;
}
.main-header a,
.contacts-address a {
	color: #000000;
}
.main-header a:hover,
.main-header a:focus {
	color: #fb565a;
}
.main-header a:active {
	color: #a6a6a6;
}
/*---------------------------------SLIDER----------------------------------*/
/*.slider{
	
	background-color: #eeeeee; 
}*/
.slider .headline,
.page-headline {
	font-size: 55px;
	line-height: 55px;
	font-weight: normal; 
}
.promo-text {
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
}
/*----------------------------------BUTTONS--------------------------------*/

.button,
.contacts-address .button,
.item-inner-btn {
	font: inherit;

	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;

	background-color: #fb565a;
	border: none;
	border-radius: 2px; 
}
.button:hover,
.button:focus {
	background-color: #e74246;
}
.button:active {
	background-color: #fb565a;
	color: #d7373b;
}

.button-green {
	background-color: #00ca74;
}
.button-green:hover,
.button-green:focus {
	background-color: #00bc6c;
}
.button-green:active {
	background-color: #00aa62;
	color: #d7373b;
}
.button-yellow {
	background-color: #efc84a;
}
.button-yellow:hover,
.button-yellow:focus {
	background-color: #eab534;
}
.button-yellow:active {
	background-color: #e5a722;
	color: #d7373b;
}
/*-------------------------------INDEX SERVICES----------------------------*/
.services-headline {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.promo-subtitle {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold; 
	text-transform: uppercase;
}
.efficiency-percent {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: bold; 
}
.efficiency-legend {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}
.promo-headline {
	font-size: 45px;
	line-height: 45px;
	font-weight: medium;

}
.promo-text {
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
}
/*--------------------------------------PARTNER'S LOGO------------------------- */
.partners-logo {
	opacity: 0.2;
}
.partners-logo:hover,
.partners-logo:focus {
	opacity: 1;
}
.partners-logo:active {
	opacity: 0.1;
}
/*-----------------------------FOOTER---------------------------------*/

.main-footer {
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
	/*background-position:*/ 
}/*
.contacts-address */.subtitle {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold; 
	text-transform: uppercase;
}
.contacts-address .address {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}
.contacts-address a {
	font: inherit;
}

.promo-headline {
	font-size: 45px;
	line-height: 45px;
	font-weight: 400; 
}
.promo-subtitle {

}
.socialmedia-headline {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold; 

}
.socialmedia-text {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}
/*-----------------------------INNER---------------------------*/
.write-inner .headline {
	font: inherit;
	font-size: 45px;
	line-height: 45px;
	font-weight: 400; 
}

.write-inner label {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}
.write-inner input[type="text"],
.write-inner textarea {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	opacity: 0.5;
}

.write-inner input:focus,
.write-inner textarea:focus,
.write-inner input:hover,
.write-inner textarea:hover {
	border-color: #000000;
	color: #000000;
}
.write-inner input::invalid,
.write-inner textarea::invalid {
	border-color: #e74246;
	color: #e74246;
}

/*input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:focus::-moz-placeholder,
textarea:focus:-ms-input-placeholder {
	color: transparent;
	}*/

	/*--------------------------ФИЛЬТРЫ БОКОВАЯ ПАНЕЛЬ---------------------------*/

	/*-------------------------RADIOBUTTON & CHECKBOX---------------------------*/
	legend .subtitle {
		font-size: 18px;
		line-height: 30px;
		font-weight: bold;
		text-transform: uppercase;
	}
	input[type="checkbox"],
	input[type="radio"] {
		display: none;
	}
	input[type="checkbox"] + label,
	input[type="radio"] + label {
		font-size: 16px;
		line-height: 20px;
		font-weight: normal;
		padding-left: 40px;
		background-repeat: no-repeat;
	}
	input[type="checkbox"] + label::before,
	input[type="radio"] + label::before {
		content: "";
		display: inline-block;
		height: 25px; 
		width:25px;
	}

	input[type="checkbox"] + label::before {
		background-image: url(../img/checkbox-off.png);
		background-repeat: no-repeat;
	}

	input[type="radio"] + label::before {
		background-image: url(../img/radio-off.png);
		background-repeat: no-repeat;

	}

	input[type="checkbox"]:checked + label::before {
		background-image: url(../img/checkbox-on.png);
		background-repeat: no-repeat;
	}
	input[type="radio"]:checked + label::before {
		background-image: url(../img/radio-on.png);
		background-repeat: no-repeat;
	}

	input[type="submit"] {
		font: inherit;

		color: #000000;
		text-transform: uppercase;
		text-align: center;
		vertical-align: middle;

		background-color: #eeeeee;
		border: none;
		border-radius: 2px;
	}
	input[type="submit"]:hover,
	input[type="submit"]:focus {
		background-color: #dfdfdf;
	}
	input[type="submit"]:active {
		opacity: 0.5;
		box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5)
	}
	/*---------------------------------SORTER--------------------------------*/
	.sorter-headline {
		font-size: 18px;
		line-height: 18px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.sorter-item {
		font-size: 14px;
		line-height: 18px;
		font-weight: normal;
		text-transform: uppercase;
		opacity: 0.5;
	}
	.sorter-item:hover,
	.sorter-item:focus {
		opacity: 0.9;
	}
	.sorter-item:active {
		opacity: 1;
	}
	/*----------------------------------CATALOGUE------------------------------*/
	.catalogue-item {
		width: 360px;
	}
	.catalogue-link::before {
		content: "";
		height: 40px;
		width: 360px;
		display: block;
		background-image: url(../img/browser.png);
		background-repeat: no-repeat;

	}
	.catalogue-link:hover::before,
	.catalogue-link:focus::before {
		opacity: 0.5;
	}	
/*.catalogue-item:hover,
.catalogue-item:focus {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		}*/
		.catalogue-link:hover + .catalogue-inner {
			display: block;
		}	

		.catalogue-inner {
			width: 360px;
			background-color: #eeeeee;
			text-align: center;
			vertical-align: middle;

			display: none;
		}
		.description {
			font-size: 16px;
			line-height: 18px;
			font-weight: 400;
		}

		/*----------------------------------PAGINATION-----------------------------*/

		.pagination {
			display: flex;
			justify-content: center;
			align-items: center;	
		}

		.pagination-number,
		.pagination-next  {
			background-color: #eeeeee;
			text-transform: uppercase;
			font: inherit;
			font-size: 16px;
			line-height: 18px;

			min-height: 50px;
			min-width: 50px;

			display: flex;
			justify-content: space-between;
			align-items: center;	

		}

		.pagination-number:hover,
		.pagination-number:focus,
		.pagination-next:hover,
		.pagination-next:focus {
			background-color: #dfdfdf;
		}
		.pagination-number a:active,
		.pagination-next a:active  {
			opacity: 0.5;
			color: #bfbfbf;
			box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
		}

	./*input-radiobutton,
	.input-checkbox {
		display: none;
	}
	label {
		position: relative;
		padding-left: 40px;
		line-height: 50px;
	}
	label .price {
		font-size: 16px;
		line-height: 22px;
		font-weight: normal;
		text-transform: uppercase;
	}

	.input-radiobutton + label::before {
		position: absolute;
		display: block;
		
		content: "";
		height: 27px;
		width: 27px;
		border: solid 2px;
		border-radius: 50%;		
	}

	.input-checkbox + label::before {
		position: absolute;
		display: block;

		content: "";
		height: 27px;
		width: 27px;
		border-color: black;
		border: solid 2px;		
	}
	.input-radiobutton:hover + label,
	.input-radiobutton:focus + label,
	.input-checkbox:hover + label,
	.input-checkbox:focus + label {
		color: #4d4d4d;
	}
	.input-radiobutton:disabled + label,
	.input-checkbox:disabled + label {
		color: #ededed;
		opacity: 0.5;
		}*/

